#############################
# IDEA / IntelliJ Project Files
#############################
.idea/
*.iml
out/
shelf/
workspace.xml

#############################
# Maven build output
#############################
target/

#############################
# Local Browser Binaries (ChromeDriver, Chrome portable, GeckoDriver, etc.)
#############################
chrome-win64/
*.dll
*.exe

#############################
# Test Output
#############################
reports/
extent-report/
screenshots/
logs/
